@page "/f"

<PageTitle>Factorials</PageTitle>

<input type="number" @bind="a"/>
<button class="btn btn-primary" @onclick="factorial">!</button>
<button class="btn btn-primary" @onclick="factorial2">!!</button>
<input type="number" disabled="true" @bind="b"/>
@code {
	long a = 0;
	long b = 0;
	private void factorial()
	{
		b = 1;
		for (int i = 1; i <= a; i++)
		{
			b *= i;
		}
	}
	private void factorial2()
	{
		b = 1;
		for (int i = a % 2 == 0? 2 : 1; i <= a; i += 2)
		{
			b *= i;
		}
	}
}